<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{#link-to 'index' classNames="navbar-brand"}}Syrup{{/link-to}}
                </div> <!-- .navbar-header -->

                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="sr-only">Search</span>
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="dropdown-flac" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-leaf"></span>
                                <span class="sr-only">Flac</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header" role="presentation">Flac</li>
                                <li>
                                    <a href="#">
                                        <div class="media-body">
                                            <b>The Protomen</b> - <i>A Night of Queen</i>
                                            Pending - edgewyn
                                            <br />
                                            <small class="text-muted">10:23am</small>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li> <!-- #dropdown-flac.dropdown -->
                        <li id="dropdown-reports" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-fire"></span>
                                <span class="sr-only">Reports</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header" role="presentation">Reports</li>
                                <li>
                                    <a href="#">
                                        Post by <b>edgewyn</b> in <b>Serious Discussion</b> reported.
                                        <br />
                                        <small>10:23am</small>
                                    </a>
                                </li>
                            </ul>
                        </li> <!-- #dropdown-reports.dropdown -->
                        <li id="dropdown-questions" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <span class="sr-only">Help questions</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header" role="presentation">Help questions</li>
                                <li class="question">
                                    <a href="#">
                                        <div class="media">
                                            <span class="pull-left">
                                                <img class="media-object" src="http://placekitten.com/50/50">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">Edgewyn</h5>
                                                <b>Message Title</b>
                                                <span>This is the question body?</span>
                                                <br />
                                                <small class="text-muted">10:23pm</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="question">
                                    <a href="#">
                                        <div class="media">
                                            <span class="pull-left">
                                                <img class="media-object" src="http://placekitten.com/50/50">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">Edgewyn</h5>
                                                <b>Message Title</b>
                                                <span>This is the question body?</span>
                                                <br />
                                                <small class="text-muted">10:23pm</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li> <!-- #dropdown-questions.dropdown -->
                        <li id="dropdown-messages" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span class="sr-only">Messages</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header" role="presentation">Messages</li>
                                <li class="message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="pull-left">
                                                <img class="media-object" src="http://placekitten.com/50/50">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">Edgewyn</h5>
                                                <b>Message Title</b>
                                                <span>This is the message body.</span>
                                                <br />
                                                <small class="text-muted">10:23pm</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="pull-left">
                                                <img class="media-object" src="http://placekitten.com/50/50">
                                            </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">Edgewyn</h5>
                                                <b>Message Title</b>
                                                <span>This is the message body.</span>
                                                <br />
                                                <small class="text-muted">10:23pm</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li> <!-- #dropdown-messages.dropdown -->
                        <li id="dropdown-notifications" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-globe"></span>
                                <span class="sr-only">Notifications</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header" role="presentation">Notifications</li>
                                <li>
                                    <a href="#">
                                        <div class="media">
                                            <span class="pull-left">
                                                <img class="media-object" src="http://placekitten.com/50/50">
                                            </span>
                                            <div class="media-body">
                                                <b>Edgewyn</b> posted in <b>What music player do you use?</b>:
                                                &ldquo;Rdio and Google Music.&rdquo;
                                                <br />
                                                <small class="text-muted">10:23pm</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li> <!-- #dropdown-notifications.dropdown -->
                        <li><a href="#">
                            <img src="http://placekitten.com/16/16">
                            edgewyn
                        </a></li>
                        <li id="dropdown-settings" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="sr-only">Settings</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Log out</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Rules</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Ask a question</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Donate</a></li>
                            </ul>
                        </li> <!-- #dropdown-settings.dropdown -->
                    </ul>
                </div> <!-- .navbar-collapse -->
            </div> <!-- .col-md-9 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</nav>

<div class="container" id="main">
    <div class="row">
        <div id="sidebar" class="col-md-2">
            <ul class="list-group">
                {{#link-to 'index' classNames="list-group-item"}}Home{{/link-to}}
                {{#link-to 'torrents.music' classNames="list-group-item"}}Music{{/link-to}}
                {{#link-to 'torrents.books' classNames="list-group-item"}}Books{{/link-to}}
                {{#link-to 'torrents.apps' classNames="list-group-item"}}Apps{{/link-to}}
                <a href="#" class="list-group-item">Requests</a>
                <a href="#" class="list-group-item">Forums</a>
                <a href="#" class="list-group-item">Upload</a>
                <a href="#" class="list-group-item">Invite</a>
                <a href="#" class="list-group-item">Shop</a>
                <a href="#" class="list-group-item">Site Log</a>
            </ul>
            <ul class="list-group">
                <a href="#" class="list-group-item">Staff Tools</a>
                <a href="#" class="list-group-item">Admin Log</a>
                <a href="#" class="list-group-item">Ratio Control</a>
                <a href="#" class="list-group-item">User Search</a>
            </ul>
        </div>
        <div class="col-md-7">
            {{outlet}}
        </div>
        <div id="tertiary" class="col-md-3">
           <div class="panel panel-default">
               <div class="panel-body">
                   Monthly donation goal
                   <div class="progress" style="margin-top: 15px;">
                       <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                           60%
                       </div>
                   </div>
                   <button type="button" class="btn btn-default">Help support Waffles!</button>
               </div>
           </div> <!-- .panel -->
           <div class="panel panel-default">
               <table class="table">
                   <tbody>
                       <tr>
                           <td>Ratio</td>
                           <td>1.618</td>
                       </tr>
                       <tr>
                           <td>Up</td>
                           <td>42 GB</td>
                       </tr>
                       <tr>
                           <td>Down</td>
                           <td>25.95 GB</td>
                       </tr>
                   </tbody>
               </table>
           </div> <!-- .panel -->
           <div class="panel panel-default">
               <div class="panel-heading">Featured Album</div>
               <div class="panel-body">
                   <p><a href="#">The Protomen</a> &ndash; <a href="#">Present: A Night of Queen</a></p>
                   <img src="http://placekitten.com/200/200">
                   <p>This is a sentence about the featured album.</p>
               </div>
           </div>
        </div> <!-- .col-md-3 -->
    </div>
</div> <!-- #main.container -->
