<div class="cluster">
    <h3 class="cluster-title">Popular albums</h3>
    <div class="thumbnail">
        <a href="#">
            <img src="http://placekitten.com/153/160">
        </a>
        <div class="caption">
            <h4>
                <a href="#">Act II: The Father of Death</a>
            </h4>
            <p>
                <a href="#">The Protomen</a>
            </p>
        </div>
    </div>
    <div class="thumbnail">
        <a href="#">
            <img src="http://placekitten.com/153/160">
        </a>
        <div class="caption">
            <h4>
                <a href="#">808s & Heartbreak</a>
            </h4>
            <p>
                <a href="#">Kanye West</a>
            </p>
        </div>
    </div>
    <div class="thumbnail">
        <a href="#">
            <img src="http://placekitten.com/153/160">
        </a>
        <div class="caption">
            <h4>
                <a href="#">Present: A Night of Queen</a>
            </h4>
            <p>
                <a href="#">The Protomen</a>
            </p>
        </div>
    </div>
    <div class="thumbnail last">
        <a href="#">
            <img src="http://placekitten.com/153/160">
        </a>
        <div class="caption">
            <h4>
                <a href="#">Yeezus</a>
            </h4>
            <p>
                <a href="#">Kanye West</a>
            </p>
        </div>
    </div>
</div>
